body {
	font-size: 20px;
}

nav {
	margin: 1em 0;
	-webkit-user-select: none;
	-moz-user-select: none;
}

nav a {
	border-top: solid 4px #fff;
}

nav a:hover {
	text-decoration: underline;
	cursor: pointer;
}

div {
	-webkit-user-select: none;
	-moz-user-select: none;
	border: solid 1px;
	width: 200px;
	height: 150px;
	text-align: center;
	line-height: 130px;
}

.one {
	background: #eee;
}

.two {
	color: #798BB2;
}

.three {
	font-weight: bold;
}

a.current {
	border-top: solid 4px;
}